* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	height: 100vh;
	width: 100%;
	display: flex;
	overflow: hidden;
}

.overlay {
	display: none;
	background-color: rgba(0, 0, 0, 50%);
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: center;
}

.modal {
	background-color: #ccc;
	width: 50%;
	height: 70%;
	border-radius: 20px;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

.navbar {
	background-color: #333;
	height: 100%;
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	filter: drop-shadow(0px 0px 5px #333);
	user-select: none;
}

.navbar .title-container h1 {
	color: #fff;
	font-size: 30px;
	text-align: center;
	margin-top: 80px;
}

.navbar .title-container h2 {
	color: #fff;
	font-size: 20px;
	text-align: center;
	margin-top: 22px;
	font-weight: normal;
}

.signup-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form-spacer-container {
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.form-spacer {
	display: flex;
	flex-direction: column;
}

.options-container {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.option {
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	transition: 0.2s;
	cursor: pointer;
}

.option:hover {
	background-color: #555;
}

.option:active {
	background-color: #444;
}

.selected {
	background-color: #555;
}

main {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form {
	width: 70%;
	height: 90%;
	background-color: #ccc;
	padding: 50px;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	filter: drop-shadow(0px 0px 5px #555);
}

.form .title-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inputs-container {
	width: 80%;
	display: flex;
	flex-direction: column;
}

.form h1 {
	font-size: 40px;
}

.form label {
	font-size: 20px;
	margin-top: 10px;
}

.input {
	font-size: 18px;
	padding: 5px;
	border-radius: 10px;
	margin-top: 5px;
	border: solid 2px #333;
}

.form-btn {
	font-size: 20px;
	background-color: #aaa;
	border: none;
	border-radius: 10px;
	padding: 10px 20px;
	cursor: pointer;
	transition: 0.2s;
	filter: drop-shadow(0px 0px 3px #555);
	margin: 10px;
}

.form-btn:hover {
	transform: scale(1.05);
}

.form-btn:active {
	transform: scale(0.95);
}

.spaces-info-container {
	width: 60%;
	height: 90%;
	background-color: #ccc;
	padding: 50px;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	filter: drop-shadow(0px 0px 5px #555);
	margin: auto;
}

.vehicles-info-container {
	width: 30%;
	height: 90%;
	background-color: #ccc;
	padding: 50px;
	border-radius: 30px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	filter: drop-shadow(0px 0px 5px #555);
	margin: auto;
}

.spaces-container-header > h1, .vehicles-info-container > h1 {
	font-size: 40px;
}

.vehicles-container {
	height: 100%;
	width: 100%;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
}

.vehicle {
	width: 90%;
	background-color: #bbb;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
	font-size: 15px;
	transition: 0.2s;
	word-wrap: break-word;
}

.vehicle:hover {
	transform: scale(1.05);
	background-color: #aaa;
}

.spaces-container {
	width: 90%;
	height: 80%;
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	overflow-y: auto;
	align-items: center;
}

.spaces-container-header {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
	height: 15%;
}

.space {
	width: 90%;
	text-align: center;
	margin: 5px;
	background-color: #bbb;
	padding: 10px;
	border-radius: 10px;
	font-size: 15px;
	transition: 0.2s;
}

.space:hover {
	background-color: #aaa;
	transform: scale(1.05);
}

.line {
	background-color: #aaa;
	width: 90%;
	height: 3px;
}

.material-icons {
	margin-top: 10px;
	cursor: pointer;
	transition: 0.2s;
	user-select: none;
}

.material-icons:hover {
	transform: scale(1.2);
}

.material-icons:active {
	transform: scale(0.8);
}

@keyframes zoom-in {
	from {
		transform: scale(0);
		opacity: 0;
	}	
	to {
		transform: scale(1);
		opacity: 100%;
	}
}

.zoom-in {
	animation: zoom-in 0.4s;
}